{% import 'util/forms.html' as forms %}
<form id="f_login" action="{{ url_for('admin.login', **request.args) }}" method="POST">
<dl>
    <dt>{{ form.username.label }}</dt>
    <dd>{{ html.input(form.username) }}</dd>
    {% for error in form.username.errors %}
    <li>{{ error }}</li>
    {% endfor %}
    <dt>{{ form.password.label }}</dt>
    <dd>{{ html.input(form.password) }}</dd>
    <ul>
    {% for error in form.password.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</dl>
<p>{{ html.input(type='submit', value='add') }}</p>
</form>
