{% extends "base.html" %}
{% block content %}
<div id="prover">

<script type="text/javascript">
$(document).ready(function () {
    var editor = CodeMirror.fromTextArea("f_prover_proofscript", {
        parserfile: "parsedummy.js",
        path: "/static/codemirror/js/",
        stylesheet: "/static/codemirror/css/jscolors.css",
        tabMode: "spaces"
    });

    editor.setCode("{%- if processed -%}{{ processed|safe }}{% endif %}{%- if unprocessed -%}{{ unprocessed|safe }}{% endif %}\n\n");
    editor.jumpToLine(editor.nthLine({{lineno}} + 2));
    editor.focus();

});
</script>
<form id="f_prover" action="/" method="POST">
  <p>
    <textarea id="f_prover_proofscript" name="proofscript" rows="20" cols="60">
    </textarea>
  <br>
  <input type="submit" name="clear" value="Clear">
  <input type="submit" name="undo" value="Undo">
  <input type="submit" name="step" value="Step">
  <input type="hidden" name="line" value="{{lineno}}">
  </p>
</form>
</div>
<div id="response">
<pre>{{ proofst }}</pre>
</div>
{% endblock %}