{% extends "base.html" %}
{% block content %}
<div id="prover">
<form id="f_prover" action="/" method="POST">
  <p>
    <textarea id="f_prover_proofscript" name="proofscript" rows="20" cols="60">
{%- if processed -%}
{{ processed }}
{% endif %}
{{ unprocessed }}
    </textarea>
  <br></br>
  <input type="submit" name="clear" value="Clear"></input>
  <input type="submit" name="undo" value="Undo"></input>
  <input type="submit" name="step" value="Step"></input>
  <input type="hidden" name="line" value="{{lineno}}"></input>
  </p>
</form>
</div>
<div id="response">
<pre>{{ proofst }}</pre>
</div>
{% endblock %}