body {
   width: 96%;
   height: 100%;
}

#content {
   float: left;
   padding: 10px;
   width: 75%;
}

#sidebar {
   float:left;
   padding: 10px 5px;
   height: 100%;
   width: 10%;
   border-right: 2px solid black;
}

#prover {
   border: 1px solid black;
   float: left;
   width: 45%;
   clear: none;
}

#response {
   float: right;
   width: 45%;
   clear: none;
}

#footer {
   float: left;
   clear: both;
}

#nav {
   overflow: auto;
   position: relative;
   width: 100%;
}

#branding {
   float: left;
   margin: 10px 0 20px 0;
}

#branding h1 {
   display: inline;
   padding: 0;
   margin: 0;
}

#branding p {
   margin: 0 0 20px 5px;
   padding: 0;
}

#useractions {
   float: right;
   margin: 10px 20px 0 0;
}

#useractions ul li {
   display: inline;
   style: none;
}

.proofscript {
   padding: 5px;
   display: block;
   color: black;
   text-decoration: none;
   width: 50%;
   background: #DFFFFF;
}

.proofscript:hover {
   background: #CCFFFF;
}
