{% extends "base.html" %}
{% block content %}
<p>{{ class_section.classname }}</p>
<p>{{ class_section.description }}</p>
{% if not registered %}
<p><a href="{{ url_for('classes.register', class_id=class_section.id) }}">Register</a></p>
{% else %}
<p>Lessons</p>
{% if admin %}
<p><a href="{{ url_for('lessons.add', class_id=class_section.id) }}">Add Lesson</a></p>
{% endif %}
  <ul>
    {% for lesson in lessons %}
    <li><a href="{{ url_for('lessons.view', lesson_id = lesson.id) }}">{{ lesson.lesson_name }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}